<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Kafka UI</title>
</head>
<body>
    <h1>Kafka UI</h1>
    <div id="producer_div">
        <h2>Produce messages</h2>
        <form id="message_form">
            <p>
                <label for="text_ctrl">Message:</label>
                <input id="text_ctrl" type="text" />
            </p>
            <p>
                <label for="key_ctrl">Key:</label>
                <input id="key_ctrl" type="text" />
            </p>
            <p>
                <button id="submit_button" type="submit">Send</button>
            </p>
        </form>
    </div>
    <div id="consumers_div">
        <h2>Consumers</h2>
        <p>
            <label for="consumer1_ta">Auto commit consumer:</label>
            <br />
            <textarea id="consumer1_ta" rows="10" cols="40" readonly="readonly"></textarea>
        </p>
        <p>
            <label for="consumer2_ta">Manual ack consumer:</label>
            <br />
            <textarea id="consumer2_ta" rows="10" cols="40" readonly="readonly"></textarea>
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/homepage.js"></script>
</body>
</html>
